@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




/* 1920x1080 1080p High Defintion  */
/* placeholder img */

.screen {
  background: url('https://www.mobygames.com/images/promo/original/fac92af5bc3f4f74bf3fb172693dcf59.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}


  header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px;
  } 
  /* header */
    header .media-nav{
      font-size: 2rem;
      color: #8f8f8f;
      display: flex;
      justify-content: space-between;
      width: 250px;
      font-weight: 100;

    }
    header .media-nav .active{
      font-weight: 700;
      color: white;
}
  header .settings {
	width: 450px;
	display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
  header .settings .fa{
    font-size: 2rem;
    color: white;
}
   
header .settings .user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
header .settings .time {
  font-size: 2rem;
  color: white;
}
  .container{
    max-width: 90%;
    margin: 0 auto;
  }

    .game-nav{
      display: flex;
      margin-bottom: 250px;
    }
    
    .game-nav .game{
      background: linear-gradient(60deg, rgba(16,25,37,1) 0%,  50%, rgba(16,25,37,1) 100%);
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 20%;
      margin-right: 15px;
      cursor: pointer;
      border: 0px solid #576170;
      color: white;
    }

      .game-nav .game:hover{
        border: 2px solid #576170;
       
       }
       
       
       .game-nav .game.active {
        overflow: visible;
        width: 150px;
        height: 150px;
        border: 2px solid #576170;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
       }
       /* using after so i dont have to create another element */
       .game-nav .game.active:after{
         content: "Explore";
         position: absolute;
         color: white;
         font-size: 1.6rem;
         font-weight: 100;
         bottom: 10px;
         right: -100px;
       }
       .game-nav .game.active .fa{
         font-size: 4rem;
       }
       .game-nav .game .img{
         width: 100px;
         height: 100px;
         background-size: cover;
         

       }

       